:root{
    --color-bg: #0f172a;
    --color-surface: #111827;
    --color-surface-light: #1f2937;
    --color-border: #334155;

    --color-text: #f8fafc;
    --color-text-muted: #94a3b8;

    --color-primary: #3b82f6;
    --color-primary-hover: #2563eb;

    --color-success: #22c55e;
    --color-warning: #f59e0b;
    --color-danger: #ef4444;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

